
*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: 'Be Vietnam Pro', sans-serif;
}

/*Estilos navegacion*/
.nav-desktop{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5%;
}
.nav-celular{
    display: none;
}
a{
    text-decoration: none;
    color: #242E52;
}
.nav-item{
    display: flex;
    flex-direction:row ;
    justify-content: center;
    list-style: none;
    margin: 5%;
    font-size: 12px;    
}
.start , .start-icon{
    background: #F3603B;
    color: #E5E5E5;
    border-radius: 50px;
    border-color: #F3603B;
    width: 134px;
    height: 44px;
    top: 65px;
    font-weight: 500;
    font-size: 13px;
}
.start{
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}

/*Estilos Banner*/
.texto-banner{
    display: flex;

}
#texto{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 5%;
    margin-left: 10%;
    padding-right: 15%;
 }
 h1{
     font-size: 58px;
     font-weight: 700;
     padding-bottom: 5%;
     color: #242E52;
 }
p{
    font-size: 17px;
    padding-bottom: 5%;
}
#banner{
    display: flex;
    margin-top: 2%;
    width: 500px;
    height:450px;
}

/*Diferrencias de manage*/
.diferencia{
    display: flex;
    margin-top: 10%;
}
h2{
    font-size: 36px;
    font-weight: 700;
    padding-bottom: 5%;
    color: #242E52;
}
h4{
    color: #242E52;

}
.items{
    width: 50%;
}
.titulo{
    width: 50%;
    margin-left: 10%;
    padding-right: 15%;
}
.start-2{
    display: inline-block;
    background: #F3603B;
    color: #FFFFFF;
    border-radius: 50px;
    border-color: #F3603B;
    position: static;
    width: 69px;
    height: 43px;
    top: 65px;
    font-weight: 700;
    font-size: 16px;
    margin-right: 3vh;
}
#texto-2{
    color: #B3B2B7;
    font-weight: 500;
    font-size: 17px;
    padding-left: 11vh;
}
div{
    display: flex;
    align-items: center;
}

/*Estilos Comentarios*/
h3{
    text-align: center;
    color: #242E52;
    font-size: 40px;
    font-weight: 700;
    margin-top: 10%;
}
.comentarios{
    display:flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
}
.perfiles1, .perfiles2, .perfiles3{
   background-color: #FAFAFA;
   position: relative;
   top: 90%;
}
.boton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vw;
}

/*Estilos Fondo Naranja*/
.empezar{
    display: flex;
    margin-top: 10%;
    background-color: #F3603B;
    align-items: center;
}
#texto-3{
    color: #FAFAFA;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 5%;
    font-weight: 700;
    font-size: 40px;
    width: 50%;
}
.start-3{
    background: #FAFAFA;
    color: #F3603B;
    border-radius: 50px;
    border-color: #FAFAFA;
    width: 134px;
    height: 44px;
    top: 65px;
    font-weight: 500;
    font-size: 13px;
    margin-right: 10%;
}

/*Estilos Footer*/
.footer{
    display: flex;
    background-color:#1E1E26;
    padding: 10%;
    flex-wrap: wrap;
}
.footer1{
display: block;
margin-right: 15%;
}
.footer2{
    margin-left: 10%;
    
}
ul{

    list-style: none;
    color: #E5E5E5;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    margin-left: 10%;
    margin-right: 20%;
}
form{
    display: flex;
    align-items: center;
    margin-left: 10%;
}
#comentario{
    background: #FFFFFF;
    color: #B3B2B7;
    text-align: center;
    border-radius: 50px;
    width: 201px;
    height: 44px;
    margin-right: 5%;
}

/*Pseudoclases y Pseudoselectores*/
textarea::placeholder{
    color: #B3B2B7;
    font-style: italic;
}
button{
    transition: all 450ms;
}
button:hover{
    border-radius: 0%;
    background: #242E52;
}

/*Responsive mobile 375 */

 @media (max-width: 375px){
     /*Navegacion*/
     .nav-desktop{
         display: none;
     }
     .nav-celular{
         display: flex;
         justify-content: space-around;
         margin-top: 10%;
     }

    /*Banner*/
     .texto-banner{
         flex-direction: column-reverse;
     }
     #texto{
         width: 100vw;
         font-size: 20px;
     }

     #banner{
         width: 100vw;
         height: 350px;
     }

     /*Diferencias Manage*/
     .diferencia{
         flex-direction: column;
     }
     .titulo{
         width: 100%;
         font-size: 25px;
     }
     .items{
         width: 100vw;
        margin: 3vw;
     }
     h4{
         background-color:#FBF3E8;
         padding: 10px;
        align-content: flex-start;
     }

     #texto-2{
         padding-top: 5%;
         padding-bottom: 10%;
     }
     /*Comentarios*/
     .comentarios{
         display: column;
     }
     h3{
         font-size: 25px;
         margin-bottom: 5%;

     }
     .perfiles1, .perfiles3{
         display: none;
     }
     #nombre{
         background: none;
     }
     /*Texto fondo naranja*/
     .empezar{
         flex-direction:column;
     }
     #texto-3{
         width: 100vw;
         font-size: 25px;
         padding: 10%;
     }
     .start-3{
         margin-bottom: 5%;
     }

     /*Footer*/
     .footer{
         display: flex;
         flex-direction: column-reverse;
     }
     .footer1{
         width: 100vw;
         margin-bottom: 5%;
         margin-left: 10%;
     }
     .footer2{
        
         flex-direction: row;
         margin-top: 5%;
         margin-bottom: 5%;
     }
     form{
         flex-direction: row;
         margin-top: 5%;
     }
     


 }

